/* <i class="gg-chevron-left"></i> */
.gg-chevron-left {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}

.gg-chevron-left::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-left: 2px solid;
    transform: rotate(45deg);
    left: 6px;
    top: 4px
}

.gg-chevron-left:hover {
    transform: scale(1.3);
    transition: all 200ms ease-in;
}

/* <i class="gg-chevron-right"></i> */
.gg-chevron-right {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs, 1));
    width: 22px;
    height: 22px;
    border: 2px solid transparent;
    border-radius: 100px
}

.gg-chevron-right::after {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid;
    border-right: 2px solid;
    transform: rotate(-45deg);
    right: 6px;
    top: 4px
}

.gg-chevron-right:hover {
    transform: scale(1.3);
    transition: all 200ms ease-in;
}

/* <i class="gg-shape-circle"></i> */
.gg-shape-circle-red {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 12px;
/*    border: 1px solid;*/
    border-radius: 100px;
    top: 1px;
    background: #FF0000FF;
}
.gg-shape-circle-orange {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 12px;
/*    border: 1px solid;*/
    border-radius: 100px;
    top: 1px;
    background: #FFAA00FF;
}
.gg-shape-circle-green {
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    transform: scale(var(--ggs,1));
    width: 12px;
    height: 12px;
/*    border: 1px solid;*/
    border-radius: 100px;
    top: 1px;
    background: #00AA00FF;
}

/* <i class="gg-sort-az"></i> */

.gg-sort-az,
.gg-sort-az::after,
.gg-sort-az::before {
    display: inline-block;
    box-sizing: border-box;
    height: 2px;
    border-radius: 4px;
    background: currentColor
}

.gg-sort-az {
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 8px
}

.gg-sort-az::after,
.gg-sort-az::before {
    content: "";
    position: absolute
}

.gg-sort-az::before {
    width: 12px;
    top: -4px;
    left: -2px
}

.gg-sort-az::after {
    width: 4px;
    top: 4px;
    left: 2px
}

/* <i class="gg-sort-za"></i> */

.gg-sort-za,
.gg-sort-za::after,
.gg-sort-za::before {
    display: inline-block;
    box-sizing: border-box;
    height: 2px;
    border-radius: 4px;
    background: currentColor
}

.gg-sort-za {
    position: relative;
    transform: scale(var(--ggs, 1));
    width: 8px
}

.gg-sort-za::after,
.gg-sort-za::before {
    content: "";
    position: absolute
}

.gg-sort-za::before {
    width: 12px;
    top: 4px;
    left: -2px
}

.gg-sort-za::after {
    width: 4px;
    top: -4px;
    left: 2px
}
