body {
    background-color: #eff4f7;
    color: #777;
    font-family: 'Titillium Web', Arial, Helvetica, sans-serif;
    max-width: 99%;
    margin: 0 auto;
    padding: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
    font-weight: 600;
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 24px
}

h3 {
    font-size: 20px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 16px
}

h6 {
    font-size: 14px
}

summary:focus {
    outline: none;
}

/*a {
    color: #000;
}


/* MAIN */
/* source pure css responsive hamburger menu => https://codepen.io/mutedblues/pen/MmPNPG */

main>* {
    display: none;
}

main>*:last-child {
    display: block;
}

main>*:target {
    display: block;
    animation: pulse 0.5s linear 1;
}

main>*:target~* {
    display: none;
}

@keyframes pulse {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

/* NAVBAR WITH MENU */
.header {
    font-size: 120%;
    background-color: #fff;
    height: 60px;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    position: fixed;
    left: 1px;
    line-height: 1;
    z-index: 3;
}

.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: #fff;
}

.header li a {
    display: block;
    padding: 10px 10px;
    border-right: 1px solid #f4f4f4;
    text-decoration: none;
    line-height: 0.5;
}

.header li a:hover {
    line-height: 0.5;
    background-color: #009688;
    transition: all 0.2s ease-out;
}

.header li::after {
    content: '';
    display: block;
    width: 0;
    height: 5px;
    background: #009688;
    transition: width 250ms;
}

.header li:hover::after {
    width: 100%;
}

.header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
    line-height: 0.5;
}

.header .logo img {
    display: block;
    float: left;
    text-decoration: none;
    width: 3em;
}

/* menu */

.menu-active {
    border-bottom: 5px solid #009688;
    margin-bottom: -5px;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

/*.header .dropdown {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}*/

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    /* display: inline-block; */
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

.header .menu-icon .navicon {
    background: #333;
    content: '';
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: #333;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
}

.header .menu-btn:checked~.menu,
.header .menu-btn:checked~.dropdown {
    max-height: 250px;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.card-accueil {
    width: 100%;
    margin: 1em auto;
    padding: 5px 10px;
}

.title-graph {
    display: none;
}

.footer-accueil {
    margin-top: 2em;
}

.footer-chart {
    margin-top: 2em;
}

.legend-current {
    padding: 5px 10px;
    position: absolute;
    left: 80px;
    top: 105px;
    width: 370px;
    /*    height: 120px;*/
    background: rgba(255, 255, 255, 0.5);
}

.list-current li {
    padding: 2px 8px;
}

#accueil_notes_btn:focus {
    outline: none;
}


/* 48em = 768px */
@media (min-width: 49em) {
    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .card-accueil {
        /*        width: 50%;*/
        margin: 1em auto;
    }

    .title-graph {
        display: inline-block;
    }

    .list-current li {
        padding: 2px 8px;
    }
    /*    details {
        max-height: calc(100vh - 80px)
    }*/

    /*    .footer-accueil {
        position: absolute;
        bottom: 5px;
        left: 2px;
        width: 99.8%;
    }*/
}

/*@media (max-width: 48em) {
    footer {
        position: fixed;
        display: none;
    }
}*/

/* MENU DROPDOWN */

/*.dropbtn {
    display: inline-block;
    text-align: left;
    padding: 14px 16px;
    text-decoration: none;
}*/

/* 🞀 (U+1F780) 🞁 (U+1F781) 🞂 (U+1F782) 🞃 (U+1F783) ne marche pas sur ios*/
/* 🞀 \23F4 🞂 \23F5 🞁 \23F6 🞃 \23F7 */
/*li.dropdown a.dropbtn:after {
    content: " \23F5";
}

li.dropdown:hover a.dropbtn:after {
    content: " \23F7";
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    line-height: 1;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f4f4f4;
}

.dropdown:hover .dropdown-content {
    display: block;
}*/


/* loader accueil */
.loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #A1A1A1;
    border-bottom: 2px solid #A1A1A1;
    border-right: 2px solid #A1A1A1;
    margin: 10rem auto;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.loader-mini {
    border: 2px solid currentColor;
    border-radius: 50%;
    border-top: 2px solid #A1A1A1;
    display: inline-block;
    margin-bottom: -1px;
    width: 12px;
    height: 12px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite
}

.loader-div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 0.8);
    background-color: rgba(255, 255, 255, 0.1);
    z-index: 10;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


/* Test alternative jquery */
.show {
    /*    display: inline-block;*/
    transform: scale(1);
}

.hide {
    /*    display: none;*/
    transform: scale(0);
}

.pointerNone {
    cursor: default;
    pointer-events: none;
    text-decoration: none;
}

.pointerAuto {
    cursor: pointer;
    pointer-events: auto;
    text-decoration: none;
}

#spf_btn:hover {
    cursor: pointer;
}

.dygraph-label.dygraph-ylabel {
    font-weight: 600;
    font-size: 1em;
}

.cov-btn-select {
    font-size: 18px !important;
    border-radius: 2px;
    padding: 2px 4px !important;
    margin: 0 1px;
    background-color: transparent;
    width: 100%;
    border: 1px solid #607d8b !important;
}

.cov-btn-modal {
    font-size: 18px !important;
    border-radius: 2px;
    padding: 2px 6px !important;
    margin: 2px;
    background-color: transparent;
    border: 1px solid #607d8b !important;
}

.w3-btn .cov-btn-modal:focus {
    outline: none !important;
}

.cov-btn-button {
    font-size: 18px !important;
    border-radius: 2px;
    padding: 2px 4px !important;
    margin: 0 1px;
    /*    max-width: 120px;*/
    /*    border: 1px solid #607d8b !important;*/
}

::placeholder {
    color: white;
    opacity: 1;
    /* Firefox */
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: white;
}

::-ms-input-placeholder {
    /* Microsoft Edge */
    color: white;
}

/* table w3 */

table.w3-table-all thead tr th:first-child,
table.w3-table-all tbody tr td:first-child {
    width: 120px;
}

/* table overflow-y*/

table.tableOverflow-y {
    display: table;
    width: 100%;
}

table.tableOverflow-y thead,
table.tableOverflow-y tbody {
    width: 100%;
}

table.tableOverflow-y thead {
    overflow-y: scroll;
    display: table;
    table-layout: fixed;
    width: calc(100% - 16px);
    /* assuming scrollbar width as 16px */
}

table.tableOverflow-y tbody {
    overflow: auto;
    height: 350px;
    display: block;
}

table.tableOverflow-y tr {
    width: 100%;
    text-align: left;
    display: table;
    table-layout: fixed;
}